# Ignore Terraform specific files
.terraform/
*.terraform*
*.tfstate
*.tfstate*
*.tfplan
.terraform.lock.hcl
*.log
*.tfvars
*.tfstate.backup
.terraform.tfstate.*
*.lock.hcl

# Ignore OS and editor files
.DS_Store
*.DS_Store
*.DS_Store*
*.swp
*.swo

# Ignore user-specific and IDE/editor-specific files
.terraformrc
.terraformrc.*
.vscode/

# IDE
.idea
